/* COMMON STUFF */
body {
	font-family: Tahoma,Arial,sans-serif;
	margin:0;
  	padding:0;
	background-color: #80002a;
	background-size: 100%;

}
header {
	color: white;
	width: 50%;
	display: block;
	margin: auto;
	background-color: black;
	border:2px solid grey;
}
h1,h2{
  text-align:center;
	margin-top: 4%;
}
/* INDEX_EXAMEN.HTML */
#logo3_1 {
	margin-top:2%;
	margin-left:2%;
	position:relative;
	width: 10%;
  }
  #logo3_2 {
	float:right;
	margin-top:2%;
	position:relative;
	width: 15%;
  }
  #form1 {
	  border-width:7.5px;
	  position:relative;
	  border-style:groove;
	  border-color:white;
	  background-color:#1a1e23;
	  border-radius: 32px;
	  color:white;
	  margin:auto;
	  margin-top:10%;
	  font-size:1.5em;
	  width:70%;
  }
  #b3 {
	  margin:auto;
	  margin-bottom: 3%;
	  padding: 1%;
  }
  #contenedor {
	  display:none;
	  border-width:7.5px;
	  position:relative;
	  border-style:groove;
	  border-color:white;
	  background-color:#1a1e23;
	  border-radius: 32px;
	  color:white;
	  margin-left:20%;
	  margin-right:20%;
	  margin-top:5%;
	  font-size:1.5em;
	  width:70%;
  }
  #pie3 {
	  background-color:black;
	  padding: 3%;
	  margin-top: 8%;
  }
  #pie3 a {
	  padding:1% 5%;
	  text-decoration:none;
	  color: white;
  }
  #pie3 a:hover {
	  color: #D32F2F;
  }